<fieldset data-hook="paypal_adaptive">
  <legend align="center"><%= Spree.t(:transaction, :scope => :paypal) %></legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:pay_key, :scope => :paypal_adaptive) %>:</dt>
        <dd><%= payment.source.pay_key %></dd>
      </dl>
    </div>

    <% if payment.source.state != 'refunded' %>
      <%= button_link_to Spree.t('actions.refund', :scope => :paypal_adaptive), spree.paypal_adaptive_refund_admin_order_payment_path(@order, payment), :icon => 'icon-dollar' %>
    <% else %>
      <div class="alpha six columns">
        <dl>
          <dt><%= Spree.t(:state, :scope => :paypal_adaptive) %>:</dt>
          <dd><%= payment.source.state.titleize %></dd>

          <dt><%= Spree.t(:refunded_at, :scope => :paypal) %>:</dt>
          <dd><%= pretty_time(payment.source.refunded_at) %></dd>

          <dt><%= Spree.t(:refund_correlation_id, :scope => :paypal_adaptive) %>:</dt>
          <dd><%= payment.source.refund_correlation_id %></dd>
        </dl>
      </div>
    <% end %>
  </div>
</fieldset>